<p><h1>Welcome to WCESQUARE</h1></p>
<h3><% provide(:title, @user.name) %></h3>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Books (<%= @user.microposts.count %>)</h3>
      <ol class="micropost">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
<div class="input-group">
  <input id="address" type="textbox" placeholder="Search for Books here" class="form-control">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" id="addressSearch">Search</button>
  </span>
</div>